#detail {
  padding: 15% 6%;
  background-color: bisque;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
  flex-wrap: wrap;
}

header {
  background: linear-gradient(#ba56ff, #6c6dff);
}
